*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.gitignore
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/.gitignore
app/build.gradle
app/libs/
app/proguard-rules.pro
app/src/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
